body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #0914e4;
}

h2 {
  color: #ac51d7;
}

span {
  color: red;
  text-decoration: underline;
}

.db_info {
  display: flex;
  justify-content: space-between;
}

form {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-right: 20px;
  max-width: 60%;
}

label {
  font-size: 1.1em;
}

input[type="file"], textarea {
  width: 95%;
  margin-top: 10px;
  padding: 10px;
  font-size: 1.0em;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px;
}

button:hover {
  background-color: #45a049;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #ffffff;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

pre {
  background-color: #e8e8e8;
  padding: 10px;
  border-radius: 5px;
  overflow: auto;
}
