{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>SQL Execution App</h1>
    <h2>Current Database: <span>{{ db_name }}</span></h2>

    <h2>Load Existing Database:</h2>
    <form action="{{ url_for('database_info') }}" method="post" enctype="multipart/form-data">
        <label for="db_file">Load Existing Database:</label>
        <input type="file" id="db_file" name="db_file" accept=".db">
        <button type="submit">Load</button>
    </form>

    <h2>Create New Database:</h2>
    <form action="{{ url_for('create_db') }}" method="post">
        <label for="new_db_name">Create New Database:</label>
        <input type="text" id="new_db_name" name="new_db_name" placeholder="Enter new database name">
        <button type="submit">Create</button>
    </form>
{% endblock %}
